# Inspección de Datos
Se debe realizar una inspección inicial del Dataset con la finalidad de entender su estructura, contenido y calidad. El Dataset de selección o escogido por mi para dicho estudio corresponde Un conjunto de datos de análisis de accidentes de aviación.  

`Carga del archivo:` Pandas permite cargar desde un archivo CSV, desde una ubicación local.

`Información general:` Se presenta la información global del dataset.

`Descripción del conjunto:`
- Se presentan las dimensiones (filas, columnas).
- Muestra de las primeras 5 filas, con la finalidad de visializar los datos.

In [37]:
# Importando la librería de pandas
import pandas as pd  # type: ignore
import os

# Cargar datos desde un archivo CSV
try:
    rutaAbsoluta = os.path.abspath('../Airplane_Crashes_and_Fatalities_Since_1908.csv')
    df = pd.read_csv(rutaAbsoluta)    
except FileNotFoundError:
    print("El archivo no se encuentra.")

In [38]:
# Dimensiones de los datos (Filas, columnas):
print("\u001b[1mDIMENSIONES\u001b[0m")
print("Filas:",df.shape[0]) # type: ignore
print("Columnas:",df.shape[1],"\n") # type: ignore

DIMENSIONES
Filas: 5268
Columnas: 14

In [39]:
# Información general de la tabla:
print("\u001b[1mINFOMACIÓN GENERAL\u001b[0m")
df.info()  # type: ignore

INFOMACIÓN GENERAL
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5268 entries, 0 to 5267
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         5268 non-null   int64
 1   Date          5268 non-null   object
 2   Time          3049 non-null   object
 3   Location      5248 non-null   object
 4   Operator      5250 non-null   object
 5   Flight #      1069 non-null   object
 6   Route         3561 non-null   object
 7   Type          5241 non-null   object
 8   Registration  4933 non-null   object
 9   cn/In         4040 non-null   object
 10  Aboard        5246 non-null   float64
 11  Fatalities    5256 non-null   float64
 12  Ground        5246 non-null   float64
 13  Summary       4878 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 576.3+ KB

### Estructura del conjunto de datos
### Características
1. `index (int):` el índice de la fila
2. `Date (string):` la fecha del incidente
3. `Time (string):` la hora del incidente
4. `Location (string):` el lugar del incidente.
5. `Operator (string):` el operador de la aeronave
6. `Flight # (string):` el número de vuelo de la aeronave
7. `Route (string):` la ruta de la aeronave
8. `Type (string):` el tipo de aeronave
9. `Registration (string):` la matrícula de la aeronave
10. `cn/In (string):` el número de construcción/número de serie de la aeronave
11. `Aboard (float):` el número de personas a bordo del avión.
12. `Fatalities (float):` el número de víctimas mortales en el incidente.
13. `Ground (float):` el número de personas en tierra que murieron en el incidente.
14. `Summary (string):` un resumen del incidente

In [43]:
# Mostrar las primeras (3) filas:
print("\u001b[1mPRIMERAS (3) FILAS\u001b[0m")
df.head(3) # type: ignore

PRIMERAS (3) FILAS

,index,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...

`Cantidad de valores NaN`,  se presenta la cantidad de valores nulos por cada columna.  
Al ejecutar el comando siguiente se presenta que los datos cuentan con datos NaN.

In [42]:
# 3. Veamos la cantidad de valores NaN
df.isna().sum()

index              0
Date               0
Time            2219
Location          20
Operator          18
Flight #        4199
Route           1707
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64